@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
@import '../helper/helper';

* { font-family: Nunito !important; }
.text-normal { text-transform: capitalize !important }
.text-primary { color: color('primary') !important }
.text-success { color: color('success') !important }
.text-info { color: color('info') !important }
.text-secondary { color: color('secondary') !important; }
.text-danger { color: color('danger') !important; }
.text-title {
    font-size: 30px !important;
}
p {
    font-size: 16px !important;
}
